#profile
  .row
    .large-8.large-offset-2.columns.panel

      .row
        .large-2.columns.align-center
          = gravatar_tag(@profile.email, {:class => 'avatar', :size => 120})

        .large-10.columns
          %h2
            = @profile.nicename

          %hr

          %h5.subheader
            %span.icon-mail
              = @profile.email
