#sign-in
  .row
    .large-4.columns
      %h3
        = _('Please authenticate')
      %p
        = link_to _('Sign in with AngelList'), oauth2_sign_in_path(:provider => :angel_list), :class => 'button secondary radius'
