@include keyframes(fade) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fade-right) {
  0% {
    opacity: 0;
    @include transform(translateX(-50px));
  }
  100% {
    opacity: 1;
    @include transform(translateX(0));
  }
}
