body {
  font: 400 16px/1.5 'ff-tisa-sans-web-pro', $helvetica;
  background-color: $bw_10;
  color: $bw_1;
}

a {
  color: $bw_1;
  text-decoration: none;
  cursor: pointer;
  @include transition(color 0.2s);

  &:hover {
    text-decoration: none;
  }
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, fieldset {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'ff-tisa-web-pro';
}

h1 {
  font-size: em(28);
  font-weight: 400;
}

h2 {
  font-size: em(21);
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}