body {
  font: 400 14px/1.5 'Lato', $helvetica;
  background-color: $bw_10;
  color: $bw_1;
}

a {
  color: $bw_1;
  text-decoration: none;
  @include transition(color 0.2s);

  &:hover {
    text-decoration: none;
  }
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, fieldset {
  margin: 0;
  padding: 0;
}
