// Colors

$white:  #fff;
$black:  #1f3042;
$green:  #47a718;
$red:    #ff4b47;

$gray-1: #f4f5f6;
$gray-2: #e5e6e7;
$gray-3: #d7dbde;
$gray-4: #bbbfc4;
$gray-5: #9fa5ab;
$gray-6: #848b91;
$gray-7: #6b7178;
$gray-8: #52585e;
$gray-9: #24282b;

// Fonts

$source-sans-pro: 'source-sans-pro', $helvetica;
$museo: 'museo', $helvetica;