// Colors

$white:  #fff;
$black:  #000;
$green:  #47a718;
$red:    #ff4940;
$blue:   #365470;
$beige:  #f7f7f1;

$gray-1: rgba($black, 0.1);
$gray-2: rgba($black, 0.2);
$gray-3: rgba($black, 0.3);
$gray-4: rgba($black, 0.4);
$gray-5: rgba($black, 0.5);
$gray-6: rgba($black, 0.6);
$gray-7: rgba($black, 0.7);
$gray-8: rgba($black, 0.8);
$gray-9: rgba($black, 0.9);

$nprogress-color: $green;

// Fonts

$source-sans-pro: 'source-sans-pro', $helvetica;
$museo: 'museo', $helvetica;