.content {

  .page {
    padding: 0 330px 0 0;

    h2, p {
      margin: 0 0 1em 0;
    }
  }

  .projects {
    @include clearfix;

    .project {
      float: left;
      width: 300px;
      margin: 0 30px 30px 0;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        clear: left;
      }

      &.selected {

        a {
          background-color: $black;
          color: $white;

          &:hover {
            background-color: tint($black, 5%);
          }
        }
      }

      a {
        @include clearfix;
        display: block;
        cursor: pointer;
        padding: 20px;
        background-color: $white;
        @include transition(background-color 0.1s);
      }

      h2 {
        margin: 0 0 20px 0;
      }

      p {
        margin: 0 0 20px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        float: right;
        display: block;
        margin: 0 0 20px 20px;
        width: 65px;
        height: 65px;
      }
    }
  }

  .toolbar {
    @include clearfix;
    margin: 0 0 30px 0;
    display: none;

    .card-types {
      @include clearfix;
      border-bottom: 1px solid $bw_9;
      padding: 0 0 10px 0;

      a {
        float: left;
        width: 134px;
        margin: 0 20px 20px 0;
        text-align: center;
        background-color: $white;
        padding: 20px;
        color: $bw_5;
        cursor: pointer;
        border: 1px dashed transparent;
        @include transition(all 0.2s);

        &:hover {
          background-color: $bw_10;
          border-color: $bw_7;
        }

        &:nth-of-type(5n) {
          margin-right: 0;
        }

        &:nth-of-type(5n+1) {
          clear: left;
        }
      }
    }
  }

  .boards {
    @include clearfix;

    .board {
      float: left;
      width: 300px;
      margin: 0 30px 30px 0;
      background-color: $white;
      position: relative;
      overflow: hidden;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        clear: left;
      }

      > a {
        display: block;
        cursor: pointer;
      }

      h2 {
        margin: 20px;
      }

      .description {
        margin: 20px;
      }

      .meta {
        color: $bw_5;
        margin: 20px;
        color: $bw_5;
      }

      footer {
        color: $bw_7;
        border-top: 1px solid $bw_9;
        padding: 20px;
      }
    }
  }

  .cards {
    @include clearfix;
    position: relative;
    margin-right: -30px;

    .card {
      @include clearfix;
      float: left;
      width: 300px;
      margin: 0 30px 30px 0;
      background-color: $white;
      position: relative;
      border-top: 5px solid $bw_7;
      @include transition(width 0.2s);

      &.medium {
        width: 630px;
      }

      &.large {
        width: 960px;
        margin-right: 0;
      }

      &.edit {
        width: 1200px;
        height: 600px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -300px 0 0 -600px;
        z-index: 100;
        box-shadow: 0 0 0 600px rgba($black, 0.8);
        overflow-y: scroll;

        .card-content {
          float: right;
          width: 300px;
          min-height: 600px;
          box-shadow: 0 1px 1px rgba($black, 0.1);
        }
      }

      &.timestamp {
        border-top-color: $purple;
      }

      &.interval, &.number {
        border-top-color: $blue;
      }

      &.link {
          border-top-color: $orange;
      }

      &.video, &.photo, &.map {
          border-top-color: $green;
      }

      &.map .image {
        height: 300px;
      }
    }

    .card-settings {
      position: absolute;
      right: 20px;
      top: 14px;

      &.active {

        .dropdown {
          display: block;
        }
      }

      .dropdown-toggle {
        display: block;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid $bw_7;
        border-right: 2px solid $bw-7;
        @include transform(rotate(45deg));
        @include transition(border-color 0.2s);

        &:hover {
          border-color: $bw_3;
        }
      }

      .dropdown {
        position: absolute;
        top: 200%;
        right: -50%;
        display: none;
        background-color: $white;
        border: 1px solid $bw_9;
        box-shadow: 1px 1px rgba($black, 0.1);
      }

      .options {

        li {
          border-bottom: 1px solid $bw_9;
          white-space: nowrap;
          min-width: 120px;
          padding: 10px 15px 6px 15px;
          cursor: pointer;
          @include transition(all 0.2s);

          &:hover {
            background-color: $bw_10;
          }
        }
      }

      .options-style {
        @include clearfix;

        li {
          float: left;
          text-transform: uppercase;
          text-align: center;
          width: 33.33%;
          padding: 10px 0 6px;
          cursor: pointer;

          &:hover {
            background-color: $bw_10;
          }

          &.selected {
            background-color: $bw_10;
          }
        }
      }
    }

    .card-content {

      .title {
        color: $bw_3;
        margin: 0 20px 20px 20px;
        padding: 20px 0 0 0;
      }

      .text {
        margin: 20px;
      }

      .image {
        display: block;
        width: 100%;
      }

      iframe, img {
        width: 100%;
        height: auto;
      }

      .book-content {
        margin: 20px;
        @include clearfix;

        h3 {
          font-weight: 700;
          font-size: 16px;
          margin: 0 0 10px 0;
        }

        img {
          float: left;
          width: 60px;
          margin: 0 20px 0 0;
        }
      }

      footer {
        border-top: 1px solid $bw_9;
        padding: 20px;
        color: $bw_7;

        .avatar {
          float: left;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          margin: 2px 10px 0 0;
        }
      }
    }

    .card-edit {
      float: right;
      position: relative;
      width: 900px;
      height: 600px;
      background-color: $bw_9;

      fieldset {
        border: 0;
        padding: 40px;
      }

      .field {
        margin: 0 0 20px 0;

        iframe, img {
          width: 100%;
        }
      }

      #{$all-text-inputs}, textarea {
        border: 0;
        padding: 0;
        margin: 0;
        line-height: 1.5em;
        outline: 0;
        width: 100%;
        background-color: transparent;
        @include transition(all 0.2s);
      }

      #{$all-text-inputs} {
        font-size: 21px;
      }

      .asset-upload {
        border: 2px dashed $bw_7;
        line-height: 200px;
        text-align: center;
        cursor: pointer;
        color: $bw_7;
        @include transition(all 0.2s);

        &:hover, &.hover {
          border-color: $bw_5;
          color: $bw_5;
        }

        input[type='file'] {
          width: 0;
          height: 0;
          float: left;
        }
      }

      .autocomplete {
        position: relative;

        input {
          font-size: 14px;
        }

        ul {
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%;
          margin-top: 10px;
          height: 234px;
          overflow-y: scroll;

          li {
            padding: 11px 15px 9px 15px;
            background-color: shade($bw_9, 5%);
            margin-bottom: 1px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            cursor: pointer;

            &:hover {
              background-color: shade($bw_9, 10%);
            }
          }
        }
      }

      .actions {
        position: absolute;
        right: 40px;
        bottom: 40px;

        .button {
          margin-left: 1em;
        }
      }
    }
  }
}
