.footer {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 210px;

  .copyright {
    color: $bw_7;
    font-size: em(12);

    a {
      color: $bw_7;

      &:hover {
        color: $white;
      }
    }
  }
}
