.nav {
  @include box-sizing(border-box);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 280px;
  height: 100%;
  overflow: hidden;
  background-color: $black;
  color: $white;
  box-shadow: 2px 0 rgba($black, 0.1);
  @include transition(width 0.2s $ease-out-expo);

  &.narrow {
    width: 108px;

    .nav-toggle {
      width: 100%;
      @include transition(background 0.1s);
      opacity: 0;

      &:hover {
        background: tint($black, 5%);
        opacity: 1;
      }

      .icon {
        @include transform(rotate(180deg));
      }
    }

    .nav-logo {
      width: 48px;
    }

    .nav-list-item-account {
      padding: 15px 30px;
    }

    .nav-list-item-account-name,
    .nav-list-item-account-actions {
      display: none;
    }

    .nav-list-item-btn {
      text-indent: -280px;

      .icon {
        text-indent: 0;
        right: 46px;
      }
    }
  }
}

.nav-logo {
  display: block;
  @include hide-text;
  background: image-url('logo.png') no-repeat 0 0;
  width: 116px;
  height: 28px;
  margin: 35px 30px;
}

.nav-toggle {
  @include box-sizing(border-box);
  position: absolute;
  right: 0;
  top: 0;
  line-height: 98px;
  padding: 0 30px;
  text-align: center;
  color: $white;
  cursor: pointer;

  .icon {
    display: block;
    @include transition(all 0.2s);
  }
}

.nav-list-item {
  @include clearfix;
  position: relative;
  border-top: 1px solid rgba($white, 0.1);

  &:last-child {
    border-bottom: 1px solid rgba($white, 0.1);
  }
}

.nav-list-item-btn {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 15px 30px;
  color: $white;
  font-weight: 700;
  font-size: em(14);
  @include transition(background 0.1s, text-indent 0.2s $ease-out-expo);

  &:hover {
    background: tint($black, 5%);
  }

  .icon {
    position: absolute;
    right: 30px;
    top: 0;
    line-height: 51px;
    @include transition(right 0.2s $ease-out-expo);
  }
}

.nav-list-item-account {
  white-space: nowrap;
  padding: 15px 30px 15px 90px;
  height: 48px;
}

.nav-list-item-account-name {
  margin: 3px 0 0 0;
  font-weight: 700;
}

.nav-list-item-account-image {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.nav-list-item-account-actions {
  margin: 0;
  font-size: em(12);
  color: rgba($white, 0.6);

  a {
    color: rgba($white, 0.6);
    border-bottom: 1px solid rgba($white, 0.2);
  }
}
