.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 210px;
  height: 100%;
  padding: 30px;
  background-color: $bw_1;
  @include box-sizing(border-box);

  .name {
    color: $white;
    display: block;
    margin: 0 0 30px 0;

    span {
      display: block;
      color: $bw_5;
      font-size: em(12);
    }
  }

  .menu {

    li {
      margin: 0 0 10px 0;
    }

    a {
      display: block;
      font-size: em(14);
      line-height: 24px;
      color: $bw_7;

      &:hover {
        color: $white;
      }

      img {
        vertical-align: middle;
        margin: -4px 5px 0 0;
        border-radius: 50%;
      }
    }
  }
}
