.top-bar {
  @include clearfix;
  background-color: $black;

  .name {
    line-height: 90px;
    float: left;
    color: $white;

    span {
      color: $bw_7;
    }
  }

  .menu {
    float: right;

    li {
      float: left;
      position: relative;
      margin: 0 0 0 20px;
    }

    a {
      display: block;
      color: $bw_7;
      line-height: 90px;

      &:hover {
        color: $white;
      }

      img {
        vertical-align: middle;
        margin: 0 5px 0 0;
        border-radius: 50%;
      }
    }
  }
}
