#notifications.row
  .large-12.columns.notification
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        .alert-box.align-center{ :class => "#{name}", 'data-alert' => true }
          .row
            .large-4.large-offset-4.columns.end
              = msg
          %a.close.icon-x_alt{ :href => '#' }
