#profile
  .row
    .large-8.large-offset-2.columns.panel

      .row
        .large-12.columns
          %h2
            = _('Almost there.')

          %hr

          %p
            = _('Your account is on our waiting list to be included in beta testing of the DOERS.')

          %p
            = _('We will email you as soon as your account status changes.')
            = _('Thanks and sorry if this takes a while.')
