.activities {
  margin: 20px 20px 20px 120px;
}

.activity {
  margin: 0 0 20px 0;
}

.activity-title {
  padding: 0 16px;
  font-size: em(12);
  color: $gray-6;
}

.activity-comment {
  position: relative;
  padding: 20px 56px;
  border-top: 1px solid $gray-2;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.activity-comment-form {
  @extend .activity-comment;
}

.activity-comment-user {
  margin: 0 0 0.5em 0;
  font-size: em(12);
  color: $gray-6;
}

.activity-comment-user-image {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.activity-comment-content {
  font-size: em(14);
  width: 100%;
}

.activity-comment-actions {
  font-size: em(14);

  > a {
    text-decoration: underline;
    margin: 0 1em 0 0;
    color: $gray-6;

    &.create-comment {
      color: $green;
    }
  }
}
