.board-list {
  margin: 30px 0;
  border-top: 1px solid $gray-1;
}

.board-item {
  display: table;
  width: 100%;
  border-bottom: 1px solid rgba($black, 0.05);
}

.board-item-content {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 0;
}

.board-item-title {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  font-size: em(18);
  font-weight: 500;
}

.board-item-icon {
  @include box-sizing(border-box);
  display: inline-block;
  width: 46px;
  height: 56px;
  margin: 0 20px 0 10px;
  border: 1px solid $gray-1;
  padding: 8px 6px;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 1px 0 $gray-1;
  vertical-align: middle;

  &.aligned {
    border-color: $green;
    background: tint($green, 85%);
  }
}

.board-item-progress {
  height: 5px;
  background: $gray-1;
}

.board-item-progress-bar {
  width: 0;
  height: 100%;
  background: $green;
  @include transition(width 1s);
}

.board-item-user {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
  padding: 20px 30px;
  font-size: em(12);
  color: $gray-5;
}

.board-item-user-image {
  float: left;
  width: 42px;
  height: 42px;
  margin: -3px 10px -3px 0;
  border-radius: 50%;
}
