.board {
  border-top: 1px solid $gray-1;
  padding: 20px 30px 10px 30px;
}

.board-title {
  @extend .project-title;
  font-size: em(18);
}

.board-description {
  @extend .project-description;
}

.board-progress-wrap {
  margin: 20px 30px;
}

.board-progress-title {
  font: em(12) $museo;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.board-progress {
  position: relative;
  overflow: hidden;
  height: 5px;
  background: $gray-1;
  margin: 0 0 20px 0;
}

.board-progress-bar {
  width: 0;
  height: 100%;
  background-color: $green;
  @include transition(width 1s);
}

.board-cover {
  position: relative;
  overflow: hidden;
  background: $gray-1;
  min-height: 160px;

  .uploader {
    opacity: 0;
  }

  &:hover .uploader {
    opacity: 1;
    @include transition(opacity 0.2s);
  }
}

.board-cover-image {
  display: block;
}

.board-topics {

  li {
    border-bottom: 1px dotted $gray-1;

    &:first-of-type {
      border-top: 1px dotted $gray-1;
    }
  }

  a {
    display: block;
    padding: 10px 30px;
    font-size: em(14);
    color: $gray-5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include transition(all 0.2s);

    &:hover {
      color: $black;
    }

    &.active {
      background: rgba($black, 0.05);
      color: $black;
    }
  }
}
