.cards {
  @include clearfix;
  margin: 0 5px;
}

.card-item {
  @include box-sizing(border-box);
  float: left;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 5px 10px 5px;
  padding: 20px;
  border: 1px solid $gray-4;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 1px 1px $gray-3;
}

.card-item-title {
  font-size: em(20);
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
  font-weight: 600;
}

.card-item-user {
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 15px 15px 66px;
  border-top: 1px solid $gray-2;
  @include linear-gradient($white, $gray-1);
  font-size: em(12);
  color: $gray-6;
}

.card-item-user-image {
  @extend .board-item-user-image;
}

.card-item-user-activity {
  @extend .board-item-user-activity;
}
