.card {
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 0;
}

.card-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.8);
}

.card-wrap {
  @extend .content-wrap;
  position: relative;
}

.card-edit {
  @include box-sizing(border-box);
  position: relative;
  overflow: hidden;
  width: 570px;
  padding: 0 0 73px 0;
  background: $white;
  border-radius: 3px;
}

.card-edit-actions {
  @include clearfix;
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid $gray-1;

  .button {
    float: left;
    margin: 0 10px 0 0;
  }

  .remove-card {
    float: right;
    text-decoration: underline;
    font-size: em(12);
    color: $gray-5;
    line-height: 42px;
  }
}

.card-edit-help {
  padding: 20px 30px;
  background: $gray-1;
  border-bottom: 1px solid $gray-2;
}

.card-edit-help-question {
  font-weight: 600;
}

.card-edit-help-description {
  font-size: em(14);
  color: $gray-6;
}

.card-edit-field {
  margin: 30px;

  input, textarea {
    width: 100%;
  }
}

.card-edit-field-list {
  display: table;
  width: 100%;

  li {
    @include box-sizing(border-box);
    display: table-cell;
    padding: 0 10px 0 0;

    &:last-of-type {
      padding-right: 0;
    }

    label {
      display: block;
      margin: 0 0 0.5em 0;
      text-transform: uppercase;
      color: $gray-4;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: em(12);
    }

    input {
      width: 100%;
      padding: 15px;
      border: 1px solid $gray-2;
      border-radius: 3px;
      font: em(18) $museo;

      &:focus {
        border-color: $green;
      }
    }

    input[type='date'] {

      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
}

.card-edit-field-title {
  font-size: em(18);
}

.card-edit-search {
  margin: 30px;
  position: relative;

  input {
    padding: 15px;
    width: 100%;
    border: 1px solid $gray-2;
    border-radius: 3px;
    font: em(18) $museo;

    &:focus {
      border: 2px solid $green;
      padding: 14px;
    }
  }
}

.card-edit-search-results {
  @include box-sizing(border-box);
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 210px;
  margin-top: -2px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid $green;
  border-radius: 0 0 3px 3px;
  background: $gray-1;

  li {
    padding: 15px;
    border-bottom: 1px dotted $gray-4;
    font-size: em(14);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      background: $green;
      color: $white;
    }
  }
}

.card-edit-image {
  margin: 30px;
  overflow: hidden;
  position: relative;
  background: $gray-1;
  border-radius: 3px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .uploader {
    position: relative;
    z-index: 1;
    margin: 10px;
  }
}

.card-edit-map {
  margin: 30px;
  overflow: hidden;
  border-radius: 3px;
  height: 170px;

  img {
    display: block;
    width: 100%;
  }
}

.card-edit-embed {
  margin: 30px;
  @include clearfix;
  font-size: em(14);
  color: $gray-6;
}

.card-edit-embed-image {
  float: left;
  height: 84px;
  margin: 0 15px 0 0;
}

.card-edit-embed-title {
  font-weight: 600;
}

.card-edit-video {
  margin: 30px;
  height: 310px;
  overflow: hidden;
}

.card-edit-video-player {
  width: 100%;
  height: 100%;
  border: 0;
}

.card-edit-check-list {
  margin: 30px;
}

.card-edit-check-item {
  display: block;
  position: relative;
  margin: 0 0 10px 0;

  input[type='text'] {
    width: 100%;
    padding: 10px 55px;
    border: 1px solid $gray-2;
    border-radius: 3px;
    font-size: em(14);
    line-height: 20px;

    &:focus {
      border-color: $green;
    }
  }

  .icon-trash {
    position: absolute;
    right: 11px;
    top: 11px;
    color: $gray-4;
    cursor: pointer;

    &:hover {
      color: $red;
    }
  }
}

.card-edit-check-box {
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 10px 12px;
  width: 16px;
  height: 20px;
  border-right: 1px solid $gray-2;
  cursor: pointer;

  input[type='checkbox'] {
    display: none;
  }

  .icon-checkmark {
    color: $green;
  }
}

.card-activity {
  @include box-sizing(border-box);
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 340px;
  height: 100%;
  padding: 0 0 198px 0;
  background: $gray-1;
  border-radius: 3px;
}

.card-activity-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.card-comment {
  position: relative;
  margin: 20px 0;
  padding: 0 60px;
  font-size: em(14);
}

.card-comment-user-image {
  position: absolute;
  left: 18px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.card-comment-date {
  margin: 0 0 0.5em 0;
  font-size: em(12);
  color: $gray-6;
}

.card-activity-log {
  margin: 0 30px;
  color: $gray-6;
  font-size: em(12);

  &:first-of-type {
    margin-top: 20px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.card-comment-new {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $gray-3;
  background: $white;
}

.card-comment-new-text {
  width: 100%;
  background: transparent;
  padding: 20px;
  font-size: em(14);
}

.card-comment-new-actions {
  padding: 15px 20px;
  border-top: 1px solid $gray-1;
  color: $gray-5;
  font-size: em(14);

  .button {
    margin: 0 1em 0 0;
  }
}
