.card {
  position: relative;
  margin: 20px 20px 20px 120px;
  border: 1px solid $gray-4;
  border-radius: 3px;
  background: $white;
  box-shadow: 0 1px 1px $gray-3;

  &:before {
    content: '';
    position: absolute;
    left: -3px;
    top: 26px;
    width: 4px;
    height: 4px;
    background: inherit;
    border-width: 0 0 1px 1px;
    border-color: $gray-4;
    border-style: solid;
    @include transform(rotate(45deg));
  }
}

.card-user-image {
  position: absolute;
  left: -90px;
  top: 8px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.card-wrap {
  display: table;
  width: 100%;
}

.card-picker {
  @extend .card;
  padding: 50px;
  text-align: center;
  display: block;

  h4 {
    font-size: em(18);
    font-weight: 600;
    margin: 0 0 30px 0;
  }

  li {
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: em(12);
    font-weight: 700;
    color: $gray-4;
    letter-spacing: 1px;
    @include transition(color 0.2s);
    cursor: pointer;

    &:hover {
      color: $green;
    }
  }
}

.card-edit {
  display: table-cell;
  padding: 20px 0 10px 0;
}

.card-field {
  margin: 0 30px 10px 30px;
}

.card-field-title {
  font-size: em(18);
  font-weight: 600;
}

.card-field-description {
  font-size: em(14);
}

.card-attachment {
  margin: 0 0 10px 0;
  min-height: 180px;
  position: relative;
  overflow: hidden;

  &:hover {

    .card-image,
    .card-embed {
      -webkit-filter: blur(10px);
      @include transform(scale(0.98));
    }

    .uploader,
    .card-search {
      opacity: 1;
    }
  }

  .uploader {
    @include box-sizing(border-box);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    @include transition(all 0.2s);

    input {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .uploader-status {
    width: 200px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    display: table;
    padding: 15px 20px 20px 20px;
    background: rgba($white, 0.8);
    border-radius: 3px;
    font-size: em(12);
    color: rgba($black, 0.8);
    cursor: pointer;
    @include transition(all 0.2s);

    &:hover {
      background: $white;
      color: $black;
    }

    .icon {
      margin: 0 0 5px 0;
    }
  }
}

.card-image {
  width: 100%;
  display: block;
}

.card-embed {
  @include clearfix;
  background-color: $gray-1;
}

.card-embed-image {
  float: left;
  width: 50%;
  margin: 0 30px 0 0;
}

.card-embed-title {
  font-weight: 600;
  width: 85%;
  margin: 20px 0 0 0;
}

.card-embed-author {
  font-size: em(14);
  color: $gray-6;
}

.card-search {
  width: 320px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  display: table;
  text-align: center;
  opacity: 0;
  @include transition(all 0.2s);

  label {
    display: block;
    margin: 0 0 10px 0;
    font-size: em(12);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.card-search-field {
  position: relative;

  input {
    border: 1px solid rgba($black, 0.8);
    background: rgba($white, 0.8);
    padding: 10px 40px 10px 15px;
    border-radius: 3px;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.card-actions {
  margin: 0 30px;
  font-size: em(14);

  a {
    color: $gray-6;
    text-decoration: underline;
    margin: 0 0.5em 0 0;

    &.save-card {
      color: $green;
    }

    &.delete-card {
      float: right;
      margin-right: 0;
    }
  }
}

.card-alignment {
  @include box-sizing(border-box);
  display: table-cell;
  width: 270px;
  background: $gray-1;
  border-left: 1px solid $gray-3;
  border-radius: 0 3px 3px 0;
}
