.member-list {
  @include clearfix;
}

.member-item,
.member-item-add {
  float: left;
  position: relative;
  margin: 0 10px 10px 0;
}

.member-item-image {
  display: block;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.member-add-form {

  input {
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
  }
}
