.project {
  margin: 20px 30px;
}

.project-title {
  display: block;
  margin: 0 -30px 20px -30px;
  border-bottom: 1px solid $gray-1;
  padding: 0 30px 20px 30px;
  font-size: em(26);
  font-weight: 400;
  font-family: $museo;
}

.project-description {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: em(14);
  color: $gray-5;
}

.project-actions {
  margin: 0 0 20px 0;
}
