.project {
  text-align: center;
  padding: 60px 0;
}

.project-title {
  font-size: em(48);
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
}

.project-description {
  font-size: em(28);
  line-height: 1.25em;
  font-weight: 300;
}

.project-collaborators {
  width: 60%;
  margin: 2em auto 0 auto;
  padding: 2em 0 0 0;
  border-top: 1px solid tint($black, 70%);
}
