.settings {
  margin: 40px 0;
}

.settings-title {
  margin: 0 0 20px 0;
  border-bottom: 1px solid $gray-1;
  padding: 0 15px 10px 15px;
  font-size: em(11);
  font-weight: 700;
  color: $gray-2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.settings-field {
  @include clearfix;
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgba($black, 0.05);
  padding: 0 15px 20px 15px;

  &.inline {
    display: inline-block;
    border-bottom: 0;
    padding-bottom: 0;
  }

  label {
    display: block;
    margin: 0 0 5px 0;
    font-size: em(14);
    color: $gray-3;
  }

  input[type=text] {
    width: 100%;

    &[readonly=readonly] {
      color: rgba($black, 0.6);
    }
  }

  input[type=checkbox] {
    margin: 0 5px 0 0;
  }

  .avatar {
    float: left;
    margin: 0 20px 0 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .button {
    float: right;
  }
}

.settings-actions {
  padding: 0 15px;
}
