.topic {
  @include box-sizing(border-box);
  display: table;
  position: relative;
  width: 100%;
  margin: 0 0 15px 0;
  border: 1px solid $gray-1;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 1px 0 $gray-1;

  &.is-dragged {
    @include transform(translateX(20px));
    @include transition(all 0.2s);
  }

  &.is-droppable {
    margin-bottom: 40px;
  }
}

.topic-status {
  display: table-cell;
  width: 60px;
  border-right: 1px solid $gray-1;
  vertical-align: middle;
  text-align: center;
  color: $gray-2;

  &.aligned {
    background: tint($green, 80%);
    color: $green;
  }
}

.topic-drag-handle {
  @extend .topic-status;
}

.topic-content {
  display: table-cell;
  padding: 20px 30px;
  vertical-align: middle;
}

.topic-title {
  font-size: em(18);
  width: 75%;
}

.topic-description {
  width: 100%;
  display: block;
  font-size: em(14);
  margin: 10px 0 0 0;
  color: $gray-5;
}

.topic-actions {
  margin: 10px 0 0 0;
  font-size: em(14);

  a {
    display: inline-block;
    color: $gray-6;
    text-decoration: underline;
    margin: 0 0.5em 0 0;

    &.save-topic {
      color: $green;
    }
  }
}

.topic-user {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding: 20px 30px;
  font-size: em(12);
  color: $gray-5;
}

.topic-user-image {
  float: left;
  width: 42px;
  height: 42px;
  margin: -3px 10px -3px 0;
  border-radius: 50%;
}
