.waiting {
  @extend .project;
}

.waiting-title {
  @extend .project-title;
}

.waiting-description {
  @extend .project-description;
}

.waiting-content {
  hr {
    border: none;
    border-bottom: 1px solid $gray-4;
  }
}

.waiting-actions {
  margin-top: 20px;
}
