.alerts {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 30;
}

.alert {
  overflow: hidden;
  display: table;
  width: 280px;
  margin: 10px 0 0 0;
  border: 1px solid $gray-2;
  border-radius: 3px;
  box-shadow: 0 1px 0 $gray-2;
  font-size: em(12);

  .icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    background: $gray-1;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid $gray-1;
  }
}

.alert-message {
  display: table-cell;
  background: shade($white, 5%);
  padding: 15px 20px;
}
