.alerts {
  position: fixed;
  left: 40px;
  bottom: 40px;
  z-index: 30;
}

.alert {
  overflow: hidden;
  display: table;
  width: 280px;
  margin: 10px 0 0 0;
  border-radius: 3px;
  background: $blue;
  color: $white;
  box-shadow: 0 2px rgba($black, 0.2);
  font-size: em(12);

  .icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    background: rgba($black, 0.2);
    text-align: center;
    cursor: pointer;
    border-left: 1px solid rgba($white, 0.1);
    box-shadow: inset 1px 0 rgba($black, 0.1);
  }
}

.alert-message {
  display: table-cell;
  padding: 15px 20px;
}
