.bucket-header {
  margin: 0 10px 20px 10px;
  padding: 10px 0;
  border-top: 1px solid $gray-2;
  border-bottom: 1px solid $gray-2;
}

.bucket-title {
  font-size: em(12);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $gray-5;
}
