.button {
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid rgba($black, 0.1);
  @include linear-gradient(tint($green, 10%), shade($green, 10%));
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba($black, 0.1);
  font-size: 14px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
  outline: 0;

  .icon:before {
    vertical-align: top;
    line-height: 40px;
    padding: 0 10px 0 0;
    margin: 0 15px 0 -5px;
    border-right: 1px solid rgba($black, 0.1);
    font-size: 24px;
  }

  &:disabled {
    background: transparent;
    color: $gray-4;
    border-color: $gray-3;
    box-shadow: none;
  }

  &.secondary {
    border-color: $gray-3;
    @include linear-gradient($white, $gray-1);
    color: $black;

    &:focus {
      border-color: $green;
    }
  }

  &.compact {
    padding: 0 10px;

    .icon:before {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}
