.button {
  display: inline-block;
  background-color: $primary-color;
  color: $white;
  padding: 9px 20px 11px 20px;
  border: 0;
  font-size: 14px;
  line-height: 1.5em;
  border-radius: 3px;
  cursor: pointer;
  @include transition(background-color 0.2s);

  &:hover {
    background-color: shade($primary-color, 5%);
  }

  &.secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: shade($secondary-color, 5%);
    }
  }
}
