.button {
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid $gray-1;
  border-radius: 20px;
  background: transparent;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: $gray-3;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;

  .icon {
    margin: 0 5px 0 0;
  }

  &.selected {
    color: $green;
    border-color: $green;
  }

  &:hover {
    background: $green;
    color: $white;
  }

  &.btn-small {
    line-height: 26px;
  }

  &.btn-icon {
    width: 40px;
    padding: 0;

    .icon {
      margin: 0;
    }
  }
}
