.collaborators {
  @include clearfix;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.collaborators-user {
  display: inline-block;
  margin: 0 5px;
}

.collaborators-user-image {
  display: block;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.collaborators-add-btn {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 42px;
  height: 42px;
  border: 3px solid $green;
  border-radius: 50%;
  vertical-align: top;

  .icon:before {
    line-height: 42px;
    font-size: 24px;
    color: $green;
  }
}
