.collaborators {
  @include clearfix;
  width: 60%;
  margin: 2em auto 0 auto;
  text-align: center;
}

.collaborators-user {
  display: inline-block;
  margin: 0 5px;
}

.collaborators-user-image {
  display: block;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.collaborators-user-add {
  @include box-sizing(border-box);
  display: block;
  width: 48px;
  height: 48px;
  border: 4px solid $gray-3;
  border-radius: 50%;
}
