@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700&subset=latin,latin-ext");

@font-face {
  font-family: 'IconicFill';
  src: font-url('iconic_fill.eot');
  src: font-url('iconic_fill.eot?#iefix') format('embedded-opentype'),
       font-url('iconic_fill.woff') format('woff'),
       font-url('iconic_fill.ttf') format('truetype'),
       font-url('iconic_fill.svg#iconic') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;

  font-family: 'IconicFill';
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  text-decoration: inherit;
  text-align: center;
  text-transform: none;

  speak: none;

  line-height: 1em;
  /* opacity: .8; */

  padding-right: emCalc(5px);
  margin-bottom: emCalc(-5px);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.icon-lightbulb              { &:before { content: '\e063'; } }
.icon-equalizer              { &:before { content: '\e052'; } }
.icon-brush_alt              { &:before { content: '\e01c'; } }
.icon-move                   { &:before { content: '\e03e'; } }
.icon-tag_fill               { &:before { content: '\e02b'; } }
.icon-book_alt2              { &:before { content: '\e06a'; } }
.icon-layers                 { &:before { content: '\e01f'; } }
.icon-chat_alt_fill          { &:before { content: '\e007'; } }
.icon-layers_alt             { &:before { content: '\e020'; } }
.icon-cloud_upload           { &:before { content: '\e045'; } }
.icon-chart_alt              { &:before { content: '\e029'; } }
.icon-fullscreen_exit_alt    { &:before { content: '\e051'; } }
.icon-cloud_download         { &:before { content: '\e044'; } }
.icon-paperclip              { &:before { content: '\e08a'; } }
.icon-heart_fill             { &:before { content: '\2764'; } }
.icon-mail                   { &:before { content: '\2709'; } }
.icon-pen_alt_fill           { &:before { content: '\e005'; } }
.icon-check_alt              { &:before { content: '\2718'; } }
.icon-battery_charging       { &:before { content: '\e05d'; } }
.icon-lock_fill              { &:before { content: '\e075'; } }
.icon-stop                   { &:before { content: '\e04a'; } }
.icon-arrow_up               { &:before { content: '\2191'; } }
.icon-move_horizontal        { &:before { content: '\e038'; } }
.icon-compass                { &:before { content: '\e021'; } }
.icon-minus_alt              { &:before { content: '\e009'; } }
.icon-battery_empty          { &:before { content: '\e05c'; } }
.icon-comment_fill           { &:before { content: '\e06d'; } }
.icon-map_pin_alt            { &:before { content: '\e002'; } }
.icon-question_mark          { &:before { content: '\003f'; } }
.icon-list                   { &:before { content: '\e055'; } }
.icon-upload                 { &:before { content: '\e043'; } }
.icon-reload                 { &:before { content: '\e030'; } }
.icon-loop_alt4              { &:before { content: '\e035'; } }
.icon-loop_alt3              { &:before { content: '\e034'; } }
.icon-loop_alt2              { &:before { content: '\e033'; } }
.icon-loop_alt1              { &:before { content: '\e032'; } }
.icon-left_quote             { &:before { content: '\275d'; } }
.icon-check                  { &:before { content: '\2713'; } }
.icon-last                   { &:before { content: '\e04d'; } }
.icon-bars                   { &:before { content: '\e06f'; } }
.icon-arrow_left             { &:before { content: '\2190'; } }
.icon-arrow_down             { &:before { content: '\2193'; } }
.icon-download               { &:before { content: '\e042'; } }
.icon-home                   { &:before { content: '\2302'; } }
.icon-calendar               { &:before { content: '\e001'; } }
.icon-right_quote_alt        { &:before { content: '\e012'; } }
.icon-unlock_fill            { &:before { content: '\e076'; } }
.icon-fullscreen             { &:before { content: '\e04e'; } }
.icon-dial                   { &:before { content: '\e058'; } }
.icon-plus_alt               { &:before { content: '\e008'; } }
.icon-clock                  { &:before { content: '\e079'; } }
.icon-movie                  { &:before { content: '\e060'; } }
.icon-steering_wheel         { &:before { content: '\e024'; } }
.icon-pen                    { &:before { content: '\270e'; } }
.icon-pin                    { &:before { content: '\e067'; } }
.icon-denied                 { &:before { content: '\26d4'; } }
.icon-left_quote_alt         { &:before { content: '\e011'; } }
.icon-volume_mute            { &:before { content: '\e071'; } }
.icon-umbrella               { &:before { content: '\2602'; } }
.icon-list_nested            { &:before { content: '\e056'; } }
.icon-arrow_up_alt1          { &:before { content: '\e014'; } }
.icon-undo                   { &:before { content: '\e02f'; } }
.icon-pause                  { &:before { content: '\e049'; } }
.icon-bolt                   { &:before { content: '\26a1'; } }
.icon-article                { &:before { content: '\e053'; } }
.icon-read_more              { &:before { content: '\e054'; } }
.icon-beaker                 { &:before { content: '\e023'; } }
.icon-beaker_alt             { &:before { content: '\e010'; } }
.icon-battery_full           { &:before { content: '\e073'; } }
.icon-arrow_right            { &:before { content: '\2192'; } }
.icon-iphone                 { &:before { content: '\e06e'; } }
.icon-arrow_up_alt2          { &:before { content: '\e018'; } }
.icon-cog                    { &:before { content: '\2699'; } }
.icon-award_fill             { &:before { content: '\e022'; } }
.icon-first                  { &:before { content: '\e04c'; } }
.icon-trash_fill             { &:before { content: '\e05a'; } }
.icon-image                  { &:before { content: '\e027'; } }
.icon-comment_alt1_fill      { &:before { content: '\e003'; } }
.icon-cd                     { &:before { content: '\e064'; } }
.icon-right_quote            { &:before { content: '\275e'; } }
.icon-brush                  { &:before { content: '\e01b'; } }
.icon-cloud                  { &:before { content: '\2601'; } }
.icon-eye                    { &:before { content: '\e025'; } }
.icon-play_alt               { &:before { content: '\e048'; } }
.icon-transfer               { &:before { content: '\e041'; } }
.icon-pen_alt2               { &:before { content: '\e006'; } }
.icon-camera                 { &:before { content: '\e070'; } }
.icon-move_horizontal_alt2   { &:before { content: '\e03a'; } }
.icon-curved_arrow           { &:before { content: '\2935'; } }
.icon-move_horizontal_alt1   { &:before { content: '\e039'; } }
.icon-aperture               { &:before { content: '\e026'; } }
.icon-reload_alt             { &:before { content: '\e031'; } }
.icon-magnifying_glass       { &:before { content: '\e074'; } }
.icon-calendar_alt_fill      { &:before { content: '\e06c'; } }
.icon-fork                   { &:before { content: '\e046'; } }
.icon-box                    { &:before { content: '\e06b'; } }
.icon-map_pin_fill           { &:before { content: '\e068'; } }
.icon-bars_alt               { &:before { content: '\e00a'; } }
.icon-volume                 { &:before { content: '\e072'; } }
.icon-x_alt                  { &:before { content: '\2714'; } }
.icon-link                   { &:before { content: '\e077'; } }
.icon-move_vertical          { &:before { content: '\e03b'; } }
.icon-eyedropper             { &:before { content: '\e01e'; } }
.icon-spin                   { &:before { content: '\e036'; } }
.icon-rss                    { &:before { content: '\e02c'; } }
.icon-info                   { &:before { content: '\2139'; } }
.icon-target                 { &:before { content: '\e02a'; } }
.icon-cursor                 { &:before { content: '\e057'; } }
.icon-key_fill               { &:before { content: '\26bf'; } }
.icon-minus                  { &:before { content: '\2796'; } }
.icon-book_alt               { &:before { content: '\e00b'; } }
.icon-headphones             { &:before { content: '\e061'; } }
.icon-hash                   { &:before { content: '\0023'; } }
.icon-arrow_left_alt1        { &:before { content: '\e013'; } }
.icon-arrow_left_alt2        { &:before { content: '\e017'; } }
.icon-fullscreen_exit        { &:before { content: '\e050'; } }
.icon-share                  { &:before { content: '\e02e'; } }
.icon-fullscreen_alt         { &:before { content: '\e04f'; } }
.icon-comment_alt2_fill      { &:before { content: '\e004'; } }
.icon-moon_fill              { &:before { content: '\263e'; } }
.icon-at                     { &:before { content: '\0040'; } }
.icon-chat                   { &:before { content: '\e05e'; } }
.icon-move_vertical_alt2     { &:before { content: '\e03d'; } }
.icon-move_vertical_alt1     { &:before { content: '\e03c'; } }
.icon-x                      { &:before { content: '\2717'; } }
.icon-mic                    { &:before { content: '\e05f'; } }
.icon-book                   { &:before { content: '\e069'; } }
.icon-move_alt1              { &:before { content: '\e03f'; } }
.icon-move_alt2              { &:before { content: '\e040'; } }
.icon-document_fill          { &:before { content: '\e066'; } }
.icon-plus                   { &:before { content: '\2795'; } }
.icon-wrench                 { &:before { content: '\e078'; } }
.icon-play                   { &:before { content: '\e047'; } }
.icon-star                   { &:before { content: '\2605'; } }
.icon-document_alt_fill      { &:before { content: '\e000'; } }
.icon-chart                  { &:before { content: '\e028'; } }
.icon-rain                   { &:before { content: '\26c6'; } }
.icon-folder_fill            { &:before { content: '\e065'; } }
.icon-new_window             { &:before { content: '\e059'; } }
.icon-user                   { &:before { content: '\e062'; } }
.icon-battery_half           { &:before { content: '\e05b'; } }
.icon-aperture_alt           { &:before { content: '\e00c'; } }
.icon-eject                  { &:before { content: '\e04b'; } }
.icon-arrow_down_alt1        { &:before { content: '\e016'; } }
.icon-pilcrow                { &:before { content: '\00b6'; } }
.icon-arrow_down_alt2        { &:before { content: '\e01a'; } }
.icon-arrow_right_alt1       { &:before { content: '\e015'; } }
.icon-arrow_right_alt2       { &:before { content: '\e019'; } }
.icon-rss_alt                { &:before { content: '\e02d'; } }
.icon-spin_alt               { &:before { content: '\e037'; } }
.icon-sun_fill               { &:before { content: '\2600'; } }
