.form {

  fieldset {
    border: 0;
  }

  .field {
    @include clearfix;
    margin: 0 0 20px 0;

    &.checkbox {
      padding: 0 0 0 100px;

      label {
        float: none;
        width: auto;
        padding: 0;
      }

      input {
        vertical-align: top;
        margin: 5px 2px 0 0;
      }
    }

    label {
      float: left;
      margin: 0 0 2px 0;
      width: 100px;
      padding: 9px 0;
    }

    img {
      display: block;
    }

    #{$all-text-inputs}, textarea {
      border: 1px solid $bw_9;
      border-radius: 3px;
      padding: 8px;
      line-height: 1.5em;
      outline: 0;
      width: 300px;
      background-color: $white;
      @include transition(all 0.2s);

      &:focus {
        border-color: $bw_7;
      }
    }
  }

  .actions {
    margin: 0 0 0 100px;

    .button {
      margin-right: 1em;
    }
  }

}
