@font-face {
  font-family: 'doersapp';
  src: font-url('doersapp.eot');
  src: font-url('doersapp.eot?#iefix') format('embedded-opentype'),
       font-url('doersapp.ttf') format('truetype'),
       font-url('doersapp.svg#doersapp') format('svg'),
       font-url('doersapp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: 'doersapp';
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.icon-project:before {
  content: 'a';
}

.icon-project-new:before {
  content: 'b';
}

.icon-collaborator:before {
  content: 'c';
}

