img {
  &.gravatar, &.avatar {
    @include border-radius($global-rounded);
  }
}

.white {
  color: $white;
}

.button, input[type="text"], input[type="email"], input[type="password"], textarea {
  @include border-radius($global-radius);
  text-transform: uppercase;
}

.panel {
  @include panel($white, 2 * $panel-padding);
}

.faded {
  color: lighten($black, 30%) !important;
}

.alert-box {
  @include alert(rgba($white, 0.5));
  color: $bw_4;

  &.success {
    color: $bw_4;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.wait {
  background: image-url('wait.gif') no-repeat top center;
  height: 40px;
  width: 40px;
  margin: 0 auto;
}
