#project {
  .panel {
    padding-bottom: 0;
  }

  .welcome {
    margin-top: 10%;
    font-size: 750%;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 200;
    @include text-shadow(0 2px 10px $bw_5);

    div {
      white-space: nowrap;

      &.title {
        font-size: 50%;
        font-weight: bold;
      }
    }
  }
}
