#projects {

  h1 {
    margin-bottom: 1%;
  }

  .row > .panel {
    padding: 0;
    background-color: $black;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .split-none {
      background-color: $white;
      padding: 2 * $panel-padding;
      padding-bottom: 0;
    }

    .split-1, .split-2 {
      padding: 0;
      margin-bottom: 0;
      padding: $panel-padding;

      h3 {
        margin: 0;
      }
    }

    .split-1 {
      background-color: $white;

      h3 {
        &:hover {
          color: lighten($black, 10%);
        }
      }
    }

    .split-2 {
      h3 {
        color: $white;

        &:hover {
          color: darken($white, 10%);
        }
      }
    }
  }
}
