.uploader {
  position: relative;
  border: 2px dotted rgba($white, 0.8);
  border-radius: 3px;
  line-height: 10em;
  text-align: center;
  cursor: pointer;

  input {
    width: 0;
    height: 0;
    float: left;
  }
}

.uploader-title {
  display: inline-block;
  font-size: em(12);
  padding: 10px 15px;
  line-height: 1.5em;
  border-radius: 3px;
  background: rgba($white, 0.8);
}