#waiting {
  #user_interest {
    font-size: $h3-font-size;
    line-height: $header-line-height;
    background: none;
    border: 1px solid $bw_8;
    font-family: $body-font-family;
    color: $panel-font-color;
  }
}
